/*
!.gitignore

# JavaScript Stuff
**/node_modules/**

# Configurations
!.vimrc
!.gvimrc
!/.config
/.config/*

!/.config/coc
!/.config/nvim
!/.config/helix
!/.config/iterm2
!/.config/zed
/.config/zed/.tmp*
/.config/zed/*.mdb
/.config/zed/embeddings
